<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Marka</th>
        <th>Renk</th>
        <th class="text-center">Araba Adı</th>
        <th class="text-center">Model Yılı</th>
        <th class="text-center">Günlük Fiyatı</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of carsDto">
        <td>{{car.carId}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td class="text-center">{{car.carName}}</td>
        <td class="text-center">{{car.modelYear}}</td>
        <td class="text-center">{{car.dailyPrice}} TL</td>
      </tr>
    </tbody>
  </table>